/*-----------------------------------*\
	$RESET
\*-----------------------------------*/

* {
	margin: 0;
	padding: 0;

	/*
	 * Include padding & borders in width declarations for easier sizing of elements. 
	 * More info: http://css-tricks.com/box-sizing/ (IE8+)
	 */
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;

	/* 
	 * This cures a lot of headaches with positioning.
	 * http://css-tricks.com/things-it-might-be-funuseful-to-try-the-universal-selector-on/
	 */
	position: relative;

	/* Set backgrounds to display inside borders, not including */
	-webkit-background-clip: padding-box;
	   -moz-background-clip: padding-box;
	     -o-background-clip: padding-box;
	        background-clip: padding-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

/* Correct `inline-block` display not defined in IE 8/9. */
audio, canvas, video {
    display: inline-block;
}

/**
* Prevent modern browsers from displaying `audio` without controls.
* Remove excess height in iOS 5 devices.
*/

audio:not([controls]) {
    display: none;
    height: 0;
}

/* Address styling not present in IE 8/9. */
[hidden] {
    display: none;
}

img {
	display: block;
}

.img {
	max-width: 100%;
}

	a img {
		border: 0;
	}

input, label, button, textarea, select {
	font: inherit;
}

/*-----------------------------------*\
	$CLEARFIX
\*-----------------------------------*/

.cf, .clearfix {
	overflow: hidden;
	*overflow: visible;
	*zoom: 1;
}

.clear {
	clear: both;
}

/*-----------------------------------*\
	$SHARED
	Shared margins and other abstracted properties
\*-----------------------------------*/

h1, h2, h3, h4,
.alpha, .beta, .gamma, .delta, .mega,
p, ul, ol, dl, table, form, pre, hr, .p {
	/*
	 * Rems with px fallback FTW
	 * http://snook.ca/archives/html_and_css/font-size-with-rem
	 */
	margin-bottom: 24px;
	margin-bottom: 1.5rem;
	display: block;
}

ul, ol {
	padding-left: 24px;
	padding-left: 1.5rem;
}

li > ul, li > ol {
	margin-bottom: 0;
}

/*-----------------------------------*\
	$TYPE
\*-----------------------------------*/

::-moz-selection {
	background-color: #eaecef;
	text-shadow: none;
}

::selection {
	background-color: #eaecef;
	text-shadow: none;
}

h1, .alpha {
	font-size: 48px;
	font-size: 3rem;
	line-height: 1;
	font-weight: 400;
	letter-spacing: -.04em;
}

h2, .beta {
	font-size: 24px;
	font-size: 1.5rem;
	line-height: 1;
	font-weight: 700;
}

h3, .gamma {
	font-size: 16px;
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: .1em;
	text-transform: uppercase;
}

h4, .delta {
	font-weight: 700;
}

p {
	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
	    -ms-hyphens: auto;
	     -o-hyphens: auto;
	        hyphens: auto;
}

a {
	color: #009dd6;
	text-decoration: none;
}

	a:hover {
		text-decoration: underline;
	}

.intro {
	font-size: 1.3125rem;
	line-height: 1.1428571429;
}

.helper {
	font-size: 14px;
	font-size: .875rem;
	color: #999;
	line-height: 1.1428571429;
}

	.helper p {
		margin-bottom: 16px;
		margin-bottom: 1rem;
	}

.message-error, .message-danger {
	color: #b70e0c !important;
}

hr {
	display: block;
	border: none;
	border-bottom: 1px solid #ddd;
	border-bottom-color: rgba(0,0,0,.1);
	margin-top: -1px;
	clear: both;
}

pre {
	white-space: pre-wrap;
	background-color: #456;
	color: #f0c662;
	padding: 12px;
	padding: .75rem;
}

/*-----------------------------------*\
	$TABLES
\*-----------------------------------*/

table {
	max-width: 100%;
	background-color: 
	transparent;
	border-collapse: collapse;
	border-spacing: 0;
	display: table;
}

.table {
	width: 100%;
}

.table th {
	font-weight: bold;
}

.table th, .table td {
	padding: 8px;
	line-height: 20px;
	text-align: left;
	vertical-align: top;
}

.table tbody tr {
	border-top: 1px solid #dddddd;
}

.zebra tbody > tr:nth-child(odd), .zebra tbody > tr:nth-child(odd) {
	background-color: #f9f9f9;
}

.table caption + thead tr:first-child th, .table caption + thead tr:first-child td, .table colgroup + thead tr:first-child th, .table colgroup + thead tr:first-child td, .table thead:first-child tr:first-child th, .table thead:first-child tr:first-child td {
	border-top: 0;
}

/*-----------------------------------*\
	$OBJECTS
	If you spot a styling pattern, abstract it to its own class and put it here
\*-----------------------------------*/

/* Centering content in the page */
/*div*/.wrap {
	max-width: 960px;
	margin: 0 auto;
}

/* Padding out content */
/*div*/.island {
	padding: 24px;
	padding: 1.5rem;
}

/* Smaller padding */
/*div*/.isle {
	padding: 12px;
	padding: .75rem;
}

/* Alignments */
.alignleft {
	float: left;
	margin-right: .25em;
}

.alignright {
	float: right;
	margin-left: .25em;
}

.alignmiddle { /* Only used when things in grids need to be centered (i.e. the questions radio buttons)*/
	text-align:center;
	padding-top:5px;
}

/* The nav abstraction - http://csswizardry.com/2011/09/the-nav-abstraction/ */
/*ul*/.nav {
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
}

	.nav li, .nav a {
		display: inline-block;
		/* IE6/7 inline-block hack */
		*display: inline;
		*zoom: 1;
	}

/*div*/.modal {
	background-color: #fff;
	background-color: rgba(255,255,255,.85);
	box-shadow: 0 2px 5px rgba(0,0,0,.3), inset 0 0 10px 5px #fff, 0 0 0 1px rgba(0,0,0,.1);
	border-radius: .25em;
	color: #222;
	margin: 12px auto;
	margin: .75rem auto;
	position: absolute;
	left: 12px;
	left: .75rem;
	right: 12px;
	right: .75rem;
	z-index: 99;
}

	.modal :last-child {
		margin-bottom: 0;
	}

.standalone {
	margin-bottom: 0;
}

/* Throw elements into inline-block */
/*div*/.in {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-right: -.24em; /* Make up for inline spacing */
	width: auto;
}

/* Throw elements into block */
/*span*/.b {
	display: block;
}

.visually-hidden {
	position: absolute;
	left: -9999px;
	height: 1px;
}

/*-----------------------------------*\
	$TOOLTIPS

	Usage:
	<p data-tooltip="This is a tooltip">This tooltip will read "This is a tooltip"</p>

\*-----------------------------------*/

[data-tooltip] {
	white-space: nowrap;
}

[data-tooltip]:after {
	visibility: hidden;
	content: attr(data-tooltip);
	position: absolute;
	z-index: 100;
	top: 100%;
	right: 0;
	margin-top: .3em;
	padding: .25em .75em;
	background-color: #333;
	background-color: rgba(0,0,0,.8);
	border-radius: .25em;
	font-size: .85em;
	font-weight: 700;
	color: #fff;
}

[data-tooltip]:before {
	visibility: hidden;
	content: '';
	position: absolute;
	z-index: 101;
	top: 0;
	right: .5em;
	border: .5em solid transparent;
	border-bottom-color: #333;
	border-bottom-color: rgba(0,0,0,.8);
}

[data-tooltip]:hover:after, [data-tooltip]:hover:before {
	visibility: visible;
}

/*-----------------------------------*\
	$COLUMNS
\*-----------------------------------*/

.two-col .secondary-col,
.two-col .main-col {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	margin-right: -.25em;
}

.two-col .main-col {
	width: 71.8%;
}

.two-col .secondary-col {
	width: 28.2%;
}

	.two-col > div {
		border-right: 1px solid #eee;
	}

	.two-col > div + div {
		border-left: 1px solid #eee;
		border-right: 0;
		margin-left: -1px;
	}

.sidebar {
	color: #717b81;
}

	.sidebar-helper {
		position: absolute;
		width: 39.6%;
		left: 100%;
	}

		.sidebar-helper p {
			margin-left: 24px;
			margin-left: 1.5rem;
		}

@media screen and (max-width: 650px) {
	.two-col .main-col, .two-col .secondary-col {
		display: block;
		width: auto;
		margin-right: 0;
	}

	.two-col .main-col {
		border-right: none;
		border-bottom: 2px solid #eee;
	}

	.sidebar-helper {
		position: relative;
		left: auto;
		width: auto;
	}

		.sidebar-helper p {
			margin-left: auto;
		}
}

/*-----------------------------------*\
	$GRID
\*-----------------------------------*/

.grid {
	margin-left: -3%;
	max-width: 105%;
}

.unit {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	margin-left: 3%;
	margin-right: -.25em;
	/* Clearfix */
	overflow: hidden;
	*overflow: visible;
	min-height: 1px;
}

	/* Nested Grids */
	.unit.grid {
		margin-left: 0;
	}

	.unit.demo {
		background-color: #fff8eb;
		height: 48px;
		height: 3rem;
		margin-bottom: 24px;
		margin-bottom: 1.5rem;
	}

.span-grid {
	width: 97%;
}

.one-of-two { width: 47%; }

.one-of-three { width: 30.36%; }
.two-of-three { width: 63.666666666%; }

.one-of-four { width: 22.05%; }
.three-of-four { width: 72%; }

.one-of-five { width: 17.07%; }
.two-of-five { width: 37%; }
.three-of-five { width: 57%; }
.four-of-five { width: 77%; }

@media screen and (max-width: 650px) {
	.grid {
		margin-left: 0;
		max-width: none;
	}

	.unit {
		width: auto;
		margin: 0;
		display: block;
	}
}


/*-----------------------------------*\
	$FORMS
\*-----------------------------------*/

.input,
label, .label,
textarea {
	display: block;
	/* Remove browser styling for inputs */
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	width: 100%;
	max-width: 100%;
}

.input {
	background-color: #fff;
	border-radius: .15em;
	border: 1px solid #ddd;
	border-color: rgba(0,0,0,.25);
	padding: .25em .5em;
	margin-bottom: .75em;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

	.dropdown, select.input {
		background-image: url('/assets/images/dark-dropdown.png');
		background-image: url('/assets/images/dark-dropdown.png'),
		                  -webkit-linear-gradient(rgba(0,0,0,0) 25%, rgba(0,0,0,.05));
		background-image: url('/assets/images/dark-dropdown.png'),
		                     -moz-linear-gradient(rgba(0,0,0,0) 25%, rgba(0,0,0,.05));
		background-image: url('/assets/images/dark-dropdown.png'),
		                          linear-gradient(rgba(0,0,0,0) 25%, rgba(0,0,0,.05));
		box-shadow: 0 1px 2px rgba(0,0,0,.1);
		background-repeat: no-repeat;
		background-position: right center;
		background-size: 24px 16px, 100%;
	}

		@media screen and (-webkit-min-device-pixel-ratio) {
			.dropdown, select.input {
				background-image: url('/assets/images/dark-dropdown@2x.png'),
				                  -webkit-linear-gradient(rgba(0,0,0,0) 25%, rgba(0,0,0,.05));
				background-image: url('/assets/images/dark-dropdown@2x.png'),
				                          linear-gradient(rgba(0,0,0,0) 25%, rgba(0,0,0,.05));
			}
		}

		@media screen and (min-device-pixel-ratio) {
			.dropdown, select.input {
				background-image: url('/assets/images/dark-dropdown@2x.png'),
				                  -webkit-linear-gradient(rgba(0,0,0,0) 25%, rgba(0,0,0,.05));
				background-image: url('/assets/images/dark-dropdown@2x.png'),
				                     -moz-linear-gradient(rgba(0,0,0,0) 25%, rgba(0,0,0,.05));
				background-image: url('/assets/images/dark-dropdown@2x.png'),
				                          linear-gradient(rgba(0,0,0,0) 25%, rgba(0,0,0,.05));
			}
		}

	.input:focus {
		border-color: #d2a958;
		box-shadow: 0 0 0 1px #f1c877, inset 0 1px 2px rgba(0,0,0,.1);
		outline: none;
	}
	
.checkbox {
	margin-right:0.25em;	
}

.butt {
	cursor: pointer;
	background-color: #fff;
	background-image: -webkit-linear-gradient(transparent, rgba(0,0,0,.1));
	background-image:    -moz-linear-gradient(transparent, rgba(0,0,0,.1));
	background-image:      -o-linear-gradient(transparent, rgba(0,0,0,.1));
	background-image:         linear-gradient(transparent, rgba(0,0,0,.1));
	box-shadow: inset 0 0 0 1px rgba(255,255,255,.1), inset 0 1px rgba(255,255,255,.1);
	border-radius: .2em;
	border: 1px solid #bbb;
	border-bottom-color: #aaa;
	font-weight: 700;
	color: #333;
	text-shadow: 0 1px rgba(255,255,255,.1);
	padding: .15em .5em;
}

	.butt-big {
		font-size: 120%;
		padding: .3em .5em .35em;
	}

	.butt:hover {
		text-decoration: none;
	}

	.butt:active {
		background-image: -webkit-linear-gradient(rgba(0,0,0,.1), transparent);
		background-image:    -moz-linear-gradient(rgba(0,0,0,.1), transparent);
		background-image:      -o-linear-gradient(rgba(0,0,0,.1), transparent);
		background-image:         linear-gradient(rgba(0,0,0,.1), transparent);
		border-color: #aaa;
		box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	}

	.butt-disabled, .butt-disabled:active {
		color: #aaa;
		background-color: #f6f6f6;
		cursor: default;
		background-image: -webkit-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.1));
		background-image:    -moz-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.1));
		background-image:      -o-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.1));
		background-image:         linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.1));
		box-shadow: none;
	}

	.butt-primary {
		background-color: #8dbc00;
		color: #fff;
		text-shadow: 0 1px 1px rgba(0,0,0,.2);
		border-color: #6b8f00;
		border-bottom-color: #4d6600;
	}

		.butt-primary:active {
			border-color: #4d6600;
		}

	.butt-danger {
		background-color: #d7100e;
		color: #fff;
		text-shadow: 0 1px 1px rgba(0,0,0,.1);
		border-color: #b70e0c;
		border-bottom-color: #870a09;
	}

		.butt-danger:active {
			border-color: #870a09;
		}

/*-----------------------------------*\
	$MAIN
\*-----------------------------------*/

html {
	background-color: #e9ecef;
	color: #222;
	font: 100%/1.5 freight-sans-pro, Helvetica Neue, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

/*-----------------------------------*\
	$HEADER
\*-----------------------------------*/

.site-header {
	background-color: #333;
	background-image: url('/assets/images/header-bg.png');
	background-repeat: repeat-x;
	height: 48px;
	height: 3rem;
	border-bottom: 1px solid #222;
	margin-bottom: 24px;
	margin-bottom: 1.5rem;
}

	.admin-area .site-header {
		background-color: #5babe4;
		background-image: none;
		background-image: -webkit-linear-gradient(#5babe4, #2578b4);
		background-image:    -moz-linear-gradient(#5babe4, #2578b4);
		background-image:     -ms-linear-gradient(#5babe4, #2578b4);
		background-image:      -o-linear-gradient(#5babe4, #2578b4);
		background-image:         linear-gradient(#5babe4, #2578b4);
		border-color: #1c5b87;
		text-shadow: 0 1px 1px rgba(0,0,100,.2);
	}
	
		@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
			.site-header {
				background-image: url('/assets/images/header-bg@2x.png');
				background-size: 171px 48px;
			}
		}

		@media screen and (min-device-pixel-ratio: 1.5) {
			.site-header {
				background-image: url('/assets/images/header-bg@2x.png');
				background-size: 171px 48px;
			}
		}

		@media screen and (max-width: 960px) {
			.site-header {
				margin-bottom: 0;
			}
		}

	.site-header a {
		color: #fff;
		font-weight: 700;
	}

	.site-title {
		float: left;
		/* Optical alignment */
		margin-top: -6px;
		margin-top: -.375rem;
	}

	.header-login {
		width: 400px;
		top: -.3em;
	}

		@media screen and (max-width: 600px) {
			.header-login {
				display: none;
			}
		}

		.header-login .input {
			width: 40%;
			display: inline-block;
			padding-top: .2em;
			padding-bottom: .2em;
			margin-right: .25em;
			background-color: #222;
			background-color: rgba(0,0,0,.5);
			border: 0;
			box-shadow: inset 0 1px 2px rgba(0,0,0,.4), 0 1px rgba(255,255,255,.1);
			color: #eee;
		}

		.header-login .butt {
			width: 15%;
			display: inline-block;
			border: 0;
		}

	.user-nav {
		float: right;
		z-index: 1;
		margin: -12px;
		margin: -.75rem;
		text-align: right;
	}

		.user-nav.toggled-on {
			background-color: #222;
		}

		.navatar {
			display: inline-block;
			vertical-align: middle;
			margin-top: -6px;
			margin-top: -0.375rem;
			border-radius: 100%;
			margin-left: 8px;
			margin-left: .5rem;
		}

			.navatar img {
				border-radius: 100%;
			}

			.navatar:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				border-radius: 100%;
				box-shadow: inset 0 0 0 1px rgba(255,255,255,.2), 0 0 0 1px rgba(0,0,0,.2);
			}

		.user-nav-toggle {
			display: inline-block;
			text-indent: 100%;
			overflow: hidden;
			white-space: nowrap;
			border: none;
			background-color: transparent;
			cursor: pointer;
			background-image: url(/assets/images/light-dropdown.png);
			background-repeat: no-repeat;
			background-position: center;
			width: 16px;
			width: 1rem;
			height: 16px;
			height: 1rem;
			margin-left: 4px;
			margin-left: .25rem;
			opacity: .5;
			line-height: 1;
		}

			.user-nav-toggle:hover {
				opacity: 1;
			}

		.user-nav-items {
			display: none;
			list-style: none;
			width: 100%;
			padding-left: 0;
			margin-bottom: -12px;
			margin-top: 8px;
			text-align: left;
		}

			.user-nav-items a {
				-webkit-box-sizing: content-box;
				   -moz-box-sizing: content-box;
				        box-sizing: content-box;
				margin-left: -12px;
				margin-left: -.75rem;
				display: block;
				padding: 6px 12px;
				padding: .375rem .75rem;
				width: 100%;
				border-top: 1px solid #444;
			}

				.user-nav-items a:hover {
					background-color: #333;
				}

			.toggled-on .user-nav-items {
				display: block;
			}

	.admin-area .user-nav {
		border: 1px solid transparent;
		border-top: none;
	}

	.admin-area .user-nav.toggled-on {
		border-color: #113955;
		background-color: #1c5b87;
		box-shadow: inset 0 0 10px rgba(0,0,100,.2);
	}

		.admin-area .user-nav-items a {
			border-top-color: #113955;
		}

			.admin-area .user-nav-items a:hover {
				background-color: #113955;
			}

/*-----------------------------------*\
	$SIDEBAR
\*-----------------------------------*/

.sidebar .alignleft.avatar {
	margin-right: 12px;
	margin-right: .75rem;
	margin-bottom: 12px;
	margin-bottom: .75rem;
}

/*-----------------------------------*\
	$HOME
\*-----------------------------------*/

.home-hero {
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,.2);
	background-color: #a3aab3;
	background-image: url('../images/promo.jpg');
	background-size: cover;
	background-position: center;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.2)
}

	.hero-intro {
		max-width: 480px;
		max-width: 30rem;
		padding: 24px 0;
		padding: 1.5rem 0;
	}

.landing-promo {
	font-size: 15px;
	font-size: .9375rem;
	line-height: 1.333;
}

	.landing-promo img {
		margin: 0 auto;
	}

	.landing-promo h4 {
		text-align: center;
		margin-bottom: .75rem;
	}

/*-----------------------------------*\
	$CONTENT
\*-----------------------------------*/

.content {
	overflow: hidden;
	background-color: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

/*-----------------------------------*\
	$SIGNUP
\*-----------------------------------*/

.signup-form {
	background-color: #fffbeb;
	background-image: -webkit-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.25));
	background-image:    -moz-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.25));
	background-image:      -o-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.25));
	background-image:         linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.25));
	box-shadow: 0 1px 2px rgba(0,0,0,.1), inset 0 0 0 1px rgba(0,0,0,.1);
	color: #524000;
}

/*-----------------------------------*\
	$CHALLENGES
\*-----------------------------------*/

.challenges {
	list-style: none;
	padding-left: 0;
}

	.challenges > li {
		background-color: #f6f6f6;
	}

	.challenges > li + li {
		border-top: 1px solid #ddd;
		margin-top: -1px;
	}

	.challenges .completed {
		background-color: #d8fad7;
		color: #105f0d;
	}
	
		.challenges .completed + li {
			border-top-color: #8dc08b;
		}

		.challenge-complete {
			list-style: none;
			padding-left: 24px;
			padding-left: 1.5rem;
			margin-left: -24px;
			margin-left: -1.5rem;
			background-image: url('../images/completed-check-small.png');
			background-size: 16px 15px;
			background-repeat: no-repeat;
			background-position: left center;
		}

			@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
				.challenge-complete {
					background-image: url('../images/completed-check-small@2x.png');
				}
			}

			@media screen and (min-device-pixel-ratio: 1.5) {
				.challenge-complete {
					background-image: url('../images/completed-check-small@2x.png');
				}
			}

		.challenge-complete a {
			text-decoration: line-through;
			opacity: .5;
		}

			.challenge-complete a:hover {
				text-decoration: none;
				opacity: 1;
			}

	.challenges .unavailable {
		min-height: 220px;
		min-height: 13.75rem;
		background-color: #fbfbfb;
		color: #bbb;
		cursor: not-allowed;
	}

		.challenges .unavailable * {
			cursor: not-allowed;
			pointer-events: none;
		}

		.challenges .unavailable a {
			color: inherit;
		}

		.unavailable .modal {
			text-align: center;
			max-width: 70%;
			background-color: #e7f9ff;
			background-color: rgba(231,249,255,.85);
			color: #00465f;
			box-shadow: inset 0 0 0 1px rgba(163,230,255,.5), 0 2px 5px rgba(0,70,95,.1);
			opacity: 0;
			-webkit-transform: translateY(.5rem) scale(.975);
			   -moz-transform: translateY(.5rem) scale(.975);
			    -ms-transform: translateY(.5rem) scale(.975);
			     -o-transform: translateY(.5rem) scale(.975);
			        transform: translateY(.5rem) scale(.975);
			-webkit-transition: .3s;
			   -moz-transition: .3s;
			     -o-transition: .3s;
			        transition: .3s;
		}

			.unavailable:hover .modal {
				opacity: 1;
				-webkit-transform: none;
				   -moz-transform: none;
				    -ms-transform: none;
				     -o-transform: none;
				        transform: none;
			}

			.modal .challenge-title {
				display: block;
			}
/*-----------------------------------*\
	$PROFILE
\*-----------------------------------*/

	.profile-pic {
		max-width:100%;
		max-height:100%;
		margin-bottom:2em;	
	}

/*-----------------------------------*\
	$LESSON
\*-----------------------------------*/

.lesson-header {
	font-weight: 400;
	color: #666;
}

	.lesson-title {
		color: #222;
	}

.lesson-progress {
	background-color: #ddd;
	border-radius: 5em;
	height: .75em;
	box-shadow: inset 0 0 0 2px rgba(0,0,0,.05);
}

	.progress-measure {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		background-color: #8dbc00;
		background-image: -webkit-linear-gradient(0deg, rgba(255,255,255,.4), rgba(255,255,255,0));
		background-image:    -moz-linear-gradient(0deg, rgba(255,255,255,.4), rgba(255,255,255,0));
		background-image:     -ms-linear-gradient(0deg, rgba(255,255,255,.4), rgba(255,255,255,0));
		background-image:      -o-linear-gradient(0deg, rgba(255,255,255,.4), rgba(255,255,255,0));
		background-image:         linear-gradient(90deg, rgba(255,255,255,.4), rgba(255,255,255,0));
		border-radius: 5em;
		box-shadow: inset 0 0 2px rgba(0,0,0,.1);
	}

.question-header, .lesson-navigation {
	background-color: #f6f6f6;
}

.question-header {
	border-bottom: 1px solid #ddd;
}

.lesson-navigation {
	border-top: 1px solid #ddd;
}

	.questions-total {
		font-weight: 400;
		color: #999;
	}

	.question-image {
		max-width:100%;	
	}

	.question-answer-group {
		list-style: none;
		padding-left: 0;
		font-size: 1.3125rem;
		line-height: 1.1428571429;
	}

		.question-answer:hover {
			background-color: #fbfbfb;
		}

			.question-answer + .question-answer {
				border-top: 1px solid #eee;
				margin-top: -1px;
			}

			.selected-answer, .selected-answer:hover {
				background-color: #e7f9ff;
				background-color: rgba(231,249,255,.85);
			}

			.qa-in {
				margin-right: 1em;
				margin-top: .15em;
			}

/*-----------------------------------*\
	$RESULT
\*-----------------------------------*/

.answers {
	padding-left: 0;
}

	.answers li {
		padding: 6px;
		padding: .375rem;
		padding-left: 32px;
		padding-left: 2rem;
		list-style:none;
		background-repeat: no-repeat;
		background-position: 8px center;
		background-position: .5rem center;
	}

	.answers li + li {
		border-top: 1px solid #ccc;
		border-color: rgba(0,0,0,.1);
		margin-top: -1px;
	}

		.correct-answer {
			background-image: url('/assets/images/completed-check-small.png'); 
			background-color: #d8fad7;
			color: #105f0d;
			background-size: 16px 15px;
		}

		.incorrect-answer {
			background-image: url('/assets/images/incorrect-cross-small.png'); 
			background-color: #fad7d7;
			color: #5f0d0d;
			background-size: 13px;
		}

			@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
				.correct-answer {
					background-image: url('/assets/images/completed-check-small@2x.png');
				}

				.incorrect-answer {
					background-image: url('/assets/images/incorrect-cross-small@2x.png');
				}
			}

			@media screen and (min-device-pixel-ratio: 1.5) {
				.correct-answer {
					background-image: url('/assets/images/completed-check-small@2x.png');
				}

				.incorrect-answer {
					background-image: url('/assets/images/incorrect-cross-small@2x.png');
				}
			}
		
			.result {
				font-weight:700;
				text-transform:uppercase;	
			}

/*-----------------------------------*\
	$ADMIN
\*-----------------------------------*/

.admin-sidebar-nav {
	box-shadow: 0 9px 16px #f9fafb
}

.admin-sidebar-nav, .admin-sidebar-nav ul {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}

	.admin-sidebar-nav:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 10px;
		box-shadow: inset -7px 0 5px -7px rgba(0,0,0,.1);
		-webkit-mask-image: -webkit-linear-gradient(#000, transparent);
		pointer-events: none;
	}

	.admin-sidebar-nav li a {
		display: block;
		padding: 12px 16px;
		padding: .75rem 1rem;
		background-color: #f9fafb;
		font-weight: 700;
		color: #0e2d44;
	}

		.admin-sidebar-nav .navicon {
			background-image: url('/assets/images/admin-nav-icons.png');
			background-repeat: no-repeat;
			background-size: 50px 250px;
			padding-left: 50px;
		}

			.admin-sidebar-nav .navicon.home {
				background-position: 0 -1px;
			}

			.admin-sidebar-nav .navicon.modules {
				background-position: 0 -51px;
			}

			.admin-sidebar-nav .navicon.categories {
				background-position: 0 -101px;
			}

			.admin-sidebar-nav .navicon.users {
				background-position: 0 -151px;
			}

			.admin-sidebar-nav .navicon.styleguide {
				background-position: 0 -201px;
			}

			@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
				.admin-sidebar-nav .navicon {
					background-image: url('/assets/images/admin-nav-icons@2x.png');
				}
			}

			@media screen and (min-device-pixel-ratio: 1.5) {
				.admin-sidebar-nav .navicon {
					background-image: url('/assets/images/admin-nav-icons@2x.png');
				}
			}

	.admin-sidebar-nav .current-item {
		background-color: #e7f9ff;
		color: #16496b;
	}

		.admin-sidebar-nav li + li a {
			border-top: 1px solid #edeeef;
		}

		.admin-sidebar-nav ul li a {
			background-color: transparent;
			font-weight: 400;
		}

.admin-actions .nav li + li {
	margin-left: 4px;
	margin-left: .375rem;
	padding-left: 8px;
	padding-left: .5rem;
	border-left: 1px solid #ddd;
}

/*-----------------------------------*\
	$FOOTER
\*-----------------------------------*/

.site-footer img {
	display: inline-block;
}
