/*-----------------------------------*\
	$RESET
\*-----------------------------------*/

* {
	margin: 0;
	padding: 0;

	/*
	 * Include padding & borders in width declarations for easier sizing of elements. 
	 * More info: http://css-tricks.com/box-sizing/ (IE8+)
	 */
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;

	/* 
	 * This cures a lot of headaches with positioning.
	 * http://css-tricks.com/things-it-might-be-funuseful-to-try-the-universal-selector-on/
	 */
	position: relative;

	/* Set backgrounds to display inside borders, not including */
	-webkit-background-clip: padding-box;
	   -moz-background-clip: padding-box;
	     -o-background-clip: padding-box;
	        background-clip: padding-box;
}

img {
	display: block;
	max-width: 100%;
}

input, label, button, textarea {
	font: inherit;
}

/*-----------------------------------*\
	$CLEARFIX
\*-----------------------------------*/

.cf, .clearfix {
	overflow: hidden;
	*overflow: visible;
	*zoom: 1;
}

.clear {
	clear: both;
}

/*-----------------------------------*\
	$SHARED
	Shared margins and other abstracted properties
\*-----------------------------------*/

h1, h2, h3,
.alpha, .beta, .gamma, .mega,
p, ul, ol, dl, table, pre, hr, .p {
	/*
	 * Rems with px fallback FTW
	 * http://snook.ca/archives/html_and_css/font-size-with-rem
	 */
	margin-bottom: 24px;
	margin-bottom: 1.5rem;
	display: block;
}

ul, ol {
	padding-left: 24px;
	padding-left: 1.5rem;
}

li > ul, li > ol {
	margin-bottom: 0;
}

/*-----------------------------------*\
	$TYPE
\*-----------------------------------*/

h1, .alpha {
	font-size: 48px;
	font-size: 3rem;
	line-height: 1;
	font-weight: 400;
}

h2, .beta {
	font-size: 24px;
	font-size: 1.5rem;
	line-height: 1;
	font-weight: 700;
}

h3, .gamma {
	font-size: 16px;
	font-size: 1rem;
	font-family: proxima-nova, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: 700;
	letter-spacing: .1em;
	text-transform: uppercase;
}

a {
	color: #009dd6;
	text-decoration: none;
}

	a:hover {
		text-decoration: underline;
	}

.intro {
	font-size: 1.3125rem;
	line-height: 1.1428571429;
}

.helper {
	font-size: 14px;
	font-size: .875rem;
	opacity: .5;
	line-height: 1.1428571429;
}

	/* Helper text in a state (error, warning, etc) needs bringing back to full opacity */
	.helper.state {
		opacity: 1;
	}

.error {
	color: #b70e0c !important;
}

hr {
	display: block;
	border: none;
	border-bottom: 1px solid #ddd;
	border-bottom-color: rgba(0,0,0,.1);
	margin-top: -1px;
}

/*-----------------------------------*\
	$OBJECTS
	If you spot a styling pattern, abstract it to its own class and put it here
\*-----------------------------------*/

/* Centering content in the page */
/*div*/.wrap {
	max-width: 960px;
	margin: 0 auto;
}

/* Padding out content */
/*div*/.island {
	padding: 24px;
	padding: 1.5rem;
}

/* Smaller padding */
/*div*/.isle {
	padding: 12px;
	padding: .75rem;
}

/* Alignments */
.alignleft {
	float: left;
	margin-right: .25em;
}

.alignright {
	float: right;
	margin-left: .25em;
}

/* The nav abstraction - http://csswizardry.com/2011/09/the-nav-abstraction/ */
/*ul*/.nav {
	list-style: none;
}

	.nav li, .nav a {
		display: inline-block;
		/* IE6/7 inline-block hack */
		*display: inline;
		*zoom: 1;
	}

/*div*/.modal {
	background-color: #fff;
	background-color: rgba(255,255,255,.85);
	box-shadow: 0 2px 5px rgba(0,0,0,.3), inset 0 0 10px 5px #fff, 0 0 0 1px rgba(0,0,0,.1);
	border-radius: .25em;
	color: #222;
	margin: 12px auto;
	margin: .75rem auto;
	position: absolute;
	left: 12px;
	left: .75rem;
	right: 12px;
	right: .75rem;
	z-index: 99;
}

	.modal :last-child {
		margin-bottom: 0;
	}

.standalone {
	margin-bottom: 0;
}

/* Throw elements into inline-block */
/*div*/.in {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-right: -.24em; /* Make up for inline spacing */
}

/* Throw elements into block */
/*span*/.b {
	display: block;
}

.visually-hidden {
	position: absolute;
	left: -9999px;
	height: 1px;
}

/*-----------------------------------*\
	$TOOLTIPS
\*-----------------------------------*/

[data-tooltip]:after {
	content: attr(data-tooltip);
	position: absolute;
	z-index: 100;
	top: 100%;
	right: 0;
	margin-top: .3em;
	padding: .25em .75em;
	background-color: #333;
	background-color: rgba(0,0,0,.8);
	border-radius: .25em;
	font-size: .85em;
	font-weight: 700;
	color: #fff;
}

[data-tooltip]:before {
	content: '';
	position: absolute;
	z-index: 101;
	top: 0;
	right: .5em;
	border: .5em solid transparent;
	border-bottom-color: #333;
	border-bottom-color: rgba(0,0,0,.8);
}

/*-----------------------------------*\
	$COLUMNS
\*-----------------------------------*/

.two-col .secondary-col,
.two-col .main-col {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	margin-right: -.24em;
}

.two-col .main-col {
	width: 71.8%;
	border-right: 1px solid #eee;
}

.two-col .secondary-col {
	width: 28.2%;
}

.sidebar {
	color: #999;
}

/*-----------------------------------*\
	$GRID
\*-----------------------------------*/

.grid {
	margin-left: -3%;
	max-width: 105%;
}

.unit {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	margin-left: 3%;
	margin-right: -.25em;
}

.span-grid {
	width: 97%;
}

.one-of-two { width: 47%; }

.one-of-three { width: 30.36%; }
.two-of-three { width: 63.666666666%; }

.one-of-four { width: 22.05%; }
.three-of-four { width: 72%; }

.one-of-five { width: 17.07%; }
.two-of-five { width: 37%; }
.three-of-five { width: 57%; }
.four-of-five { width: 77%; }

@media screen and (max-width: 650px) {
	.grid {
		margin-left: 0;
		max-width: none;
	}

	.unit {
		width: auto;
		margin: 0;
		display: block;
	}
}


/*-----------------------------------*\
	$FORMS
\*-----------------------------------*/

.input,
label, .label,
textarea {
	display: block;
	/* Remove browser styling for inputs */
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	width: 100%;
}

.input {
	background-color: #fff;
	border-radius: .15em;
	border: 1px solid #ddd;
	border-color: rgba(0,0,0,.25);
	padding: .25em .5em;
	margin-bottom: .75em;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.butt {
	cursor: pointer;
	background-color: #fff;
	background-image: -webkit-linear-gradient(transparent, rgba(0,0,0,.1));
	background-image:    -moz-linear-gradient(transparent, rgba(0,0,0,.1));
	background-image:      -o-linear-gradient(transparent, rgba(0,0,0,.1));
	background-image:         linear-gradient(transparent, rgba(0,0,0,.1));
	box-shadow: inset 0 0 0 1px rgba(255,255,255,.1), inset 0 1px rgba(255,255,255,.1);
	border-radius: .15em;
	border: 1px solid #bbb;
	border-bottom-color: #aaa;
	font-weight: 700;
	color: #333;
	text-shadow: 0 1px rgba(255,255,255,.1);
	padding: .15em .5em;
}

	.butt:active {
		background-image: -webkit-linear-gradient(rgba(0,0,0,.1), transparent);
		background-image:    -moz-linear-gradient(rgba(0,0,0,.1), transparent);
		background-image:      -o-linear-gradient(rgba(0,0,0,.1), transparent);
		background-image:         linear-gradient(rgba(0,0,0,.1), transparent);
		border-color: #aaa;
		box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	}

	.butt-disabled, .butt-disabled:active {
		color: #aaa;
		background-color: #f6f6f6;
		cursor: default;
		background-image: -webkit-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.1));
		background-image:    -moz-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.1));
		background-image:      -o-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.1));
		background-image:         linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.1));
		box-shadow: none;
	}

	.butt-primary {
		background-color: #8dbc00;
		color: #fff;
		text-shadow: 0 1px 1px rgba(0,0,0,.2);
		border-color: #6b8f00;
		border-bottom-color: #4d6600;
	}

		.butt-primary:active {
			border-color: #4d6600;
		}

	.butt-danger {
		background-color: #d7100e;
		color: #fff;
		text-shadow: 0 1px 1px rgba(0,0,0,.1);
		border-color: #b70e0c;
		border-bottom-color: #870a09;
	}

		.butt-danger:active {
			border-color: #870a09;
		}

/*-----------------------------------*\
	$MAIN
\*-----------------------------------*/

html {
	background-color: #eee;
	color: #222;
	font: 100%/1.5 freight-sans-pro, Helvetica Neue, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

/*-----------------------------------*\
	$HEADER
\*-----------------------------------*/

.site-header {
	background-color: #333;
	background-image: url('/assets/images/header-bg.png');
	background-repeat: repeat-x;
	height: 48px;
	height: 3rem;
	border-bottom: 1px solid #222;
	margin-bottom: 24px;
	margin-bottom: 1.5rem;
}
	
	@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
		.site-header {
			background-image: url('/assets/images/header-bg@2x.png');
			background-size: 171px 48px;
		}
	}

	@media screen and (min-device-pixel-ratio: 1.5) {
		.site-header {
			background-image: url('/assets/images/header-bg@2x.png');
			background-size: 171px 48px;
		}
	}

	@media screen and (max-width: 960px) {
		.site-header {
			margin-bottom: 0;
		}
	}

	.site-header a {
		color: #fff;
		font-weight: 700;
	}

	.site-title {
		float: left;
		/* Optical alignment */
		margin-top: -6px;
		margin-top: -.375rem;
	}

	.user-nav {
		float: right;
	}

		.navatar {
			display: inline-block;
			vertical-align: middle;
			margin-top: -6px;
			margin-top: -0.375rem;
			border-radius: 100%;
			margin-left: 8px;
			margin-left: .5rem;
		}

			.navatar img {
				border-radius: 100%;
			}

			.navatar:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				border-radius: 100%;
				box-shadow: inset 0 0 0 1px rgba(255,255,255,.2), 0 0 0 1px rgba(0,0,0,.2);
			}

/*-----------------------------------*\
	$HERO
\*-----------------------------------*/

.home-hero {
	color: #fff;
	text-shadow: 0 1px 3px rgba(0,0,0,.7);
	background-color: #009dd6;
	background-image: url('../images/promo.jpg');
	background-image: -webkit-linear-gradient(-45deg, rgba(0,0,0,.9), transparent 75%), url('../images/promo.jpg');
	background-image:    -moz-linear-gradient(-45deg, rgba(0,0,0,.9), transparent 75%), url('../images/promo.jpg');
	background-image:     -ms-linear-gradient(-45deg, rgba(0,0,0,.9), transparent 75%), url('../images/promo.jpg');
	background-image:      -o-linear-gradient(-45deg, rgba(0,0,0,.9), transparent 75%), url('../images/promo.jpg');
	background-image:         linear-gradient(-45deg, rgba(0,0,0,.9), transparent 75%), url('../images/promo.jpg');
	background-size: cover;
	background-position: center;
}

	.home-hero a {
		color: #d0a91e;
	}

	.hero-intro {
		max-width: 30rem;
		min-height: 19rem;
	}

/*-----------------------------------*\
	$CONTENT
\*-----------------------------------*/

.content {
	background-color: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

/*-----------------------------------*\
	$SIGNUP
\*-----------------------------------*/

.signup-form {
	background-color: #fffbeb;
	background-image: -webkit-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.25));
	background-image:    -moz-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.25));
	background-image:      -o-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.25));
	background-image:         linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.25));
	box-shadow: 0 1px 2px rgba(0,0,0,.1), inset 0 0 0 1px rgba(0,0,0,.1);
	color: #524000;
}

/*-----------------------------------*\
	$CHALLENGES
\*-----------------------------------*/

.challenges {
	list-style: none;
	padding-left: 0;
}

	.challenges > li {
		background-color: #f6f6f6;
	}

	.challenges > li + li {
		border-top: 1px solid #ddd;
		margin-top: -1px;
	}

	.challenges .completed {
		background-color: #d8fad7;
		color: #105f0d;
	}
	
		.challenges .completed + li {
			border-top-color: #8dc08b;
		}

		.challenge-complete {
			list-style-image: url('/assets/images/completed-check-small.png'); 
		}

		.challenge-complete a {
			text-decoration: line-through;
			opacity: .5;
		}

			.challenge-complete a:hover {
				text-decoration: none;
				opacity: 1;
			}

	.challenges .unavailable {
		background-color: #fbfbfb;
		color: #bbb;
		cursor: not-allowed;
	}

		.challenges .unavailable * {
			cursor: not-allowed;
			pointer-events: none;
		}

		.challenges .unavailable a {
			color: inherit;
		}

		.unavailable .modal {
			text-align: center;
			max-width: 70%;
			background-color: #e7f9ff;
			background-color: rgba(231,249,255,.85);
			color: #00465f;
			box-shadow: inset 0 0 0 1px rgba(163,230,255,.5), 0 2px 5px rgba(0,70,95,.1);
			opacity: 0;
			-webkit-transform: translateY(.5rem) scale(.975);
			   -moz-transform: translateY(.5rem) scale(.975);
			    -ms-transform: translateY(.5rem) scale(.975);
			     -o-transform: translateY(.5rem) scale(.975);
			        transform: translateY(.5rem) scale(.975);
			-webkit-transition: .3s;
			   -moz-transition: .3s;
			     -o-transition: .3s;
			        transition: .3s;
		}

			.unavailable:hover .modal {
				opacity: 1;
				-webkit-transform: none;
				   -moz-transform: none;
				    -ms-transform: none;
				     -o-transform: none;
				        transform: none;
			}

			.modal .challenge-title {
				display: block;
			}

/*-----------------------------------*\
	$LESSON
\*-----------------------------------*/

.lesson-header {
	font-weight: 400;
	color: #666;
}

	.lesson-title {
		color: #222;
	}

.lesson-progress {
	background-color: #ddd;
	border-radius: 5em;
	height: .75em;
	box-shadow: inset 0 0 0 2px rgba(0,0,0,.05);
}

	.progress-measure {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		background-color: #8dbc00;
		background-image: -webkit-linear-gradient(0deg, rgba(255,255,255,.4), rgba(255,255,255,0));
		background-image:    -moz-linear-gradient(0deg, rgba(255,255,255,.4), rgba(255,255,255,0));
		background-image:     -ms-linear-gradient(0deg, rgba(255,255,255,.4), rgba(255,255,255,0));
		background-image:      -o-linear-gradient(0deg, rgba(255,255,255,.4), rgba(255,255,255,0));
		background-image:         linear-gradient(90deg, rgba(255,255,255,.4), rgba(255,255,255,0));
		border-radius: 5em;
		box-shadow: inset 0 0 2px rgba(0,0,0,.1);
	}

.question-header, .lesson-navigation {
	background-color: #f6f6f6;
}

.question-header {
	border-bottom: 1px solid #ddd;
}

.lesson-navigation {
	border-top: 1px solid #ddd;
}

	.questions-total {
		font-weight: 400;
		color: #999;
	}

	.question-answer-group {
		list-style: none;
		padding-left: 0;
		font-size: 1.3125rem;
		line-height: 1.1428571429;
	}

		.question-answer:hover {
			background-color: #fbfbfb;
		}

			.question-answer + .question-answer {
				border-top: 1px solid #eee;
				margin-top: -1px;
			}

			.selected-answer {
				background-color: #e7f9ff;
				background-color: rgba(231,249,255,.85);
			}

			.qa-in {
				margin-right: 1em;
				margin-top: .15em;
			}
